.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.turbo

# Test coverage reports
coverage/

# Hardhat cache and artifacts
cache/
artifacts/
*.code-search

# Web test screenshots
__screenshots__/