name: Circular Dependencies

on:
  pull_request:
  push:
    branches:
      - master
      - staging

jobs:
  circular-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'pnpm'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Run circular dependency check
        run: pnpm run check:circles
